@page "/create"
@using QuantumPMTestTask.Data;
@using QuantumPMTestTask.Services;
@inject NoteService NoteService
@inject NavigationManager NavigationManager

<h3>Add New Note</h3>
<EditForm Model="@noteModel" OnValidSubmit="HandleValidSubmit">
    <DataAnnotationsValidator />
    <div class="form-group">
        <label for="title">Title:</label>
        <InputText id="title" class="form-control" @bind-Value="noteModel.NoteTitle" />
        <ValidationMessage For="@(() => noteModel.NoteTitle)" class="text-danger" />
    </div>

    <div class="form-group">
        <label for="text">Text:</label>
        <InputTextArea id="text" class="form-control" @bind-Value="noteModel.NoteText" />
        <ValidationMessage For="@(() => noteModel.NoteText)" class="text-danger" />
    </div>

    <button type="submit" class="btn btn-primary mt-3">Create Note</button>
    <button type="button" class="btn btn-secondary mt-3 ml-2" @onclick="Cancel">Cancel</button>
</EditForm>

@code {
    private NoteModel noteModel = new NoteModel();

    private void HandleValidSubmit()
    {
        var result = NoteService.Add(noteModel);
        if (result)
        {
            NavigationManager.NavigateTo("/notes");
        }
    }
    void Cancel()
    {
        NavigationManager.NavigateTo("/notes");
    }
}
